<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{user.image}}" alt="Card image cap">
  </div>
  <br />
  <br />
  
  <div id="user-info" class="ml-5">
    <h3>{{user.name}}</h3>
    <h4>{{user.email}}</h4>
    <a href="/users/{{user.id}}/edit">
      <button type="button" class="btn btn-primary">Edit</button>
    </a>
  </div>
</div>

